<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zuwaapp">
    <!-- 支付宝依赖 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--
 如果您的 App 的 targetSdkVersion 大于或等于 30，则需要在 AndroidManifest.xml 中提供下面的应用可见性声明，
         让支付宝 SDK 感知设备上是否已经安装了支付宝 App。同时，您可能还需要升级 Gradle Plugin 到最新版本。
         关于 Android 11 的 "应用可见性" 机制，参见 https://developer.android.com/about/versions/11/privacy/package-visibility?hl=zh-cn
    -->
    <queries>
        <package android:name="com.eg.android.AlipayGphone" /> <!-- 支付宝 -->
        <package android:name="hk.alipay.wallet" /> <!-- AlipayHK -->
    </queries>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 允许应用程序联网（必须） -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许访问WiFi网络状态信息（必须） -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许读取手机状态（必须） -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许访问网络状态（必须） -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许写手机存储（必须） -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许读手机存储（必须） -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- GUI自动填充验证码功能（非必须） -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- 网络 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 华为角标 -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" /> <!-- Optional for location -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- Android Q后台定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".ZWpush.ExampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="租蛙"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity android:name=".usercenterActivity.MyCoupon"></activity>
        <activity android:name=".usercenterActivity.MyCollect" />
        <activity android:name=".usercenterActivity.orderType.MyNoAssess" />
        <activity android:name=".usercenterActivity.orderType.MyNoReturn" />
        <activity android:name=".usercenterActivity.orderType.MyNoHarvest" />
        <activity android:name=".usercenterActivity.orderType.MyNoGoods" />
        <activity android:name=".usercenterActivity.orderType.MyNoPayment" />
        <activity android:name=".activity.PayFailActivity" />
        <activity android:name=".alipay.PayActivity" />
        <activity android:name=".activity.MyRentGlaceActivity" />
        <activity android:name=".usercenterActivity.MyRent" />
        <activity android:name=".usercenterActivity.userInfo.CancelAccount" />
        <activity android:name=".usercenterActivity.userInfo.UserPrivacy" />
        <activity android:name=".usercenterActivity.userInfo.UserAgree" />
        <activity android:name=".usercenterActivity.MyRelease" />
        <activity android:name=".usercenterActivity.NickEdit" />
        <activity android:name=".usercenterActivity.UserSetting" />
        <activity android:name=".buttonActivity.VerticalSortActivity" />
        <activity android:name=".buttonActivity.TwoRow" />
        <activity
            android:name=".activity.Success3Activity"
            android:exported="true" />
        <activity
            android:name=".activity.Glace3Activity"
            android:exported="true" />
        <activity
            android:name=".activity.Success2Activity"
            android:exported="true" />
        <activity
            android:name=".activity.RentGlaceActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ImageLookActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".activity.OwnUserHome"
            android:exported="true" />
        <activity
            android:name=".activity.ResultActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SuccessActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TransferActivity"
            android:exported="true" />
        <activity
            android:name=".activity.GlaceActivity"
            android:exported="true" />
        <activity
            android:name=".ResultActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".PreloadActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerifyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".activity.FirstActivity" />
        <activity android:name=".activity.ThirdActivity" />
        <activity android:name=".activity.FiveActivity" />
        <activity android:name=".activity.SearchPage" />

        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" />

        <receiver
            android:name=".ZWpush.PushReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.star.zuwaa" />
            </intent-filter>
        </receiver>

        <activity android:name=".ZWpush.TestActivity" />
        <activity android:name=".CitySelect.CityPickerActivity" />
        <activity android:name=".Service.ServiceActivity" /> <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="eff4f6cb7e0ebf4ddb4ba540e9a44cbd" />

        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>